<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Filestorage">
      </a>
    </div>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>

<div class='container'>
  <a id='uploader' class='btn btn-success'>
    + Add new file
  </a>
</div>

<div class='container'>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class='col-xs-8'>File name</th>
        <th>Tags</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>This is first file</th>
        <th>
          <span class="label label-success">Images</span>
          <span class="label label-success">Photo</span>
        </th>
        <th>
          Destroy / Edit
        </th>
      </tr>
    </tbody>
  </table>
</div>

<footer class='footer'>
  <div class='container'>
    <p class='text-muted'>
      2015
    </p>
  </div>
</footer>

<script>
  $(function(){
    $("#uploader").pluploadQueue({
        runtimes: 'html5,flash,silverlight',
        multipart_params: {
          '<%= request_forgery_protection_token %>': '<%= form_authenticity_token %>',
          '<%= Rails.application.config.session_options[:key] %>': '<%= request.session_options[:id] %>'
        }
    });
  });
</script>
