<!DOCTYPE html>
<html>
<head>
  <title>Filestorage</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= flash_messages %>
  <%= yield %>

</body>
<%= javascript_include_tag 'application' %>
</html>
